* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* nav-bar css  */
#nav-bar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  height: 65px;
  align-items: center;
}
.freeCode-camp {
  color: white;
  font-style: italic;
  cursor: pointer;
}
.nav-input {
  width: 250px;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
.serIcon {
  color: white;
}
.input-div {
  background-color: #3b3b4f;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 3px;
}
.nav-input::placeholder {
  color: white;
}
.menu-btn {
  padding: 4px 20px;
  border: none;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
#nav-bar > div > Button:nth-of-type(2) {
  padding: 6px 20px;
  background-color: rgb(240, 134, 58);
  margin-left: 20px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  transition: background-color 0.3s;
}
#nav-bar > div > Button:nth-of-type(2):hover {
  background-color: rgb(185, 114, 63);
}

/* form css  */

#form > form > p {
  color: #444;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}

#form {
  margin: auto;
  display: block;
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  
  
}

#form > form{
 
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display:inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="file"] {
  margin-bottom: 10px;
 
}

input[type="submit"] {
  background-color: purple;
  color: white;
  padding: 8px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  width:60%;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #613e8e;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn {
  background-color: #4caf50;
  color: white;
  padding: 6px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #3e8e41;
}
.file-name {
  margin-left: 10px;
}
#form > p {
  margin: 15px 0px 20px 0px;
  text-align: center;
}
.login-span {
  background-color: rgb(3, 109, 97);
  padding: 5px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

/* course css  */

.course-div {
  width: 30%;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.course-div > img {
  width: 30px;
  height: 30px;
}
.course-div > span {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

/* profile css  */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 20px;
}
.profile > span {
  color: white;
}
.logout-btn {
  padding: 4px 20px;
  border: none;
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
/* Home css  */
#home-div {
  width: 500px;
  margin: 50px auto;
}
#home-div > Button {
  display: block;
  margin: auto;
  width: 300px;
  padding: 10px;
  border: none;
  background-color: #fecc4c;
  word-spacing: 5px;
  font-size: 18px;
  cursor: pointer;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home-top-div {
  line-height: 2;
  font-size: 25px;
  font-weight: bold;
}
.home-bottom-div {
  width: 450px;
  margin: 25px 0px;
}
.home-bottom-div > p {
  font-size: 13.5px;
}
.home-bottom-div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.home-bottom-div > div > p {
  display: flex;
  align-items: center;
}
.home-bottom-div > div > p > span {
  margin-right: 3px;
}

/* course css  */
#course-div {
  width: 400px;
  /* box-shadow: 0px 0px 3px black; */
  padding: 20px;
  margin: 2px auto;
}
.course-top-div {
  text-align: center;
}
.course-top-div > h3 {
  margin: 25px;
}
.course-top-div > p {
  font-size: 16px;
  word-spacing: 5px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.course-top-div > p + p {
  font-size: 10px;
  margin-bottom: 20px;
}
.course-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #dfdbdb;
  border: 2px solid black;
}
.course-item > p {
  display: flex;
  align-items: center;
}
.course-item > p > span {
  word-wrap: break-word;
  margin-left: 5px;
  font-size: 12px;
  word-spacing: 6px;
}
